.profile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    white-space: nowrap;
    margin-top: 22px;
    margin-bottom: 0;
}

@media screen and (max-width:767px) {
    .profile__title {
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        margin-top: 26px;
    }
}